body{
    height:100%;
    background-color:black;
    border: 1px solid white;
    text-align: center;
}

*{
    color: white;
    margin:0;
    padding:0;
    font-family:"Calibri";
}

footer {
    padding: 10px;
    background-color: white;
}

p{
    color: black
}
.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

ul{
    list-style-type: square;
}